__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.idea/
.vscode/
.ipynb_checkpoints/

data/raw/
data/processed/

outputs/models/
*.joblib
*.pkl

database/load_postgres_local.sql

.DS_Store
Thumbs.db

*.zip
*.rar
*.7z

.env
.pytest_cache/
